<!-- navigation menu -->
<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <ul class="nav nav-pills navbar-left">
      <li class="brand">
        <a href="/index.html">Spoilt Fluff</a>
      </li>
      <li role="presentation" class="tabs">
        <%= link_to "Home", '/'  %>
        <!-- <a href="#" class="active">Home</a> -->
      </li>
      <li role="presentation" class="tabs">
        <%= link_to "Services", '/services.html' %>
        <!-- <a href="#">Services</a> -->
      </li>
      <li role="presentation" class="tabs">
        <%= link_to "Gallery", '/gallery.html' %>
        <!-- <a href="#">Gallery</a> -->
      </li>
      <li role="presentation" class="tabs">
        <%= link_to "Store", '/store.html' %>
        <!-- <a href="#">Gallery</a> -->
      </li>
      <li role="presentation" class="tabs">
        <%= link_to "Contact us", '/contact.html' %>
        <!-- <a href="#">Contact us</a> -->
      </li>
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li class="social pull-right">
        <a href='#'>
          <span class='fa-stack fa-lg'>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-youtube-play fa-stack-1x"></i>
          </span>
        </a>
      </li>
      <li class="social pull-right">
        <a href='#'>
          <span class='fa-stack fa-lg'>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </span>
        </a>
      </li>
      <li class="social pull-right">
        <a href='#'>
          <span class='fa-stack fa-lg'>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
